
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRobotLabel" data-translate="northMuseApp.robot.home.createOrEditLabel">Create or edit a Robot</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.robot.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.robot.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.robot.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.robot.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.robot.rDescription" for="field_rDescription">R Description</label>
            <input type="text" class="form-control" name="rDescription" id="field_rDescription"
                    ng-model="vm.robot.rDescription"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.robot.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="vm.robot.active"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.robot.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.robot.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.robot.executionWaitType" for="field_executionWaitType">Execution Wait Type</label>
            <select class="form-control" name="executionWaitType" ng-model="vm.robot.executionWaitType" id="field_executionWaitType">
                <option value="fixed" data-translate="northMuseApp.ExecutionWaitType.fixed">fixed</option>
                <option value="randomInMaxOf" data-translate="northMuseApp.ExecutionWaitType.randomInMaxOf">randomInMaxOf</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.robot.executionWaitSeconds" for="field_executionWaitSeconds">Execution Wait Seconds</label>
            <input type="number" class="form-control" name="executionWaitSeconds" id="field_executionWaitSeconds"
                    ng-model="vm.robot.executionWaitSeconds"
                    />
        </div>

        <div class="form-group">
            <label data-translate="northMuseApp.robot.webSiteUrl" for="field_webSiteUrl">Web Site Url</label>
            <select class="form-control" id="field_webSiteUrl" name="webSiteUrl" ng-model="vm.robot.webSiteUrl" ng-options="webSiteUrl as webSiteUrl.name for webSiteUrl in vm.websiteurls track by webSiteUrl.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="northMuseApp.robot.webService" for="field_webService">Web Service</label>
            <select class="form-control" id="field_webService" name="webService" ng-model="vm.robot.webService" ng-options="webService as webService.name for webService in vm.webservices track by webService.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
