
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWebServiceLabel" data-translate="northMuseApp.webService.home.createOrEditLabel">Create or edit a Web Service</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.webService.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.webService.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.webService.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.webService.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.webService.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.webService.url"
                    required ng-minlength="0" ng-maxlength="5000"/>
            <div ng-show="editForm.url.$invalid">
                <p class="help-block"
                    ng-show="editForm.url.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.url.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.url.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="5000">
                    This field cannot be longer than 5000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="northMuseApp.webService.method" for="field_method">Method</label>
            <select class="form-control" name="method" ng-model="vm.webService.method" id="field_method">
                <option value="GET" data-translate="northMuseApp.WsHttpMethod.GET">GET</option>
                <option value="POST" data-translate="northMuseApp.WsHttpMethod.POST">POST</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
