<div class="panel">
    <div class="panel-body">
    <h2 data-translate="northMuseApp.webSiteUrl.home.title">Web Site Urls</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="web-site-url.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="northMuseApp.webSiteUrl.home.createLabel">
                        Create new Web Site Url
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th></th>
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rootAddress"><span data-translate="northMuseApp.webSiteUrl.rootAddress">Root Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="fullAddress"><span data-translate="northMuseApp.webSiteUrl.fullAddress">Full Address</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="name"><span data-translate="northMuseApp.webSiteUrl.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="webSite.name"><span data-translate="northMuseApp.webSiteUrl.webSite">Web Site</span> <span class="glyphicon glyphicon-sort"></span></th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="webSiteUrl in vm.webSiteUrls track by webSiteUrl.id">

                    <td class="text-center">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="web-site-url-detail({id:webSiteUrl.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="web-site-url.edit({id:webSiteUrl.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="web-site-url.delete({id:webSiteUrl.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>

                    <td><a ui-sref="web-site-url-detail({id:webSiteUrl.id})">{{webSiteUrl.id}}</a></td>
                    <td>{{webSiteUrl.rootAddress}}</td>
                    <!--<td>{{webSiteUrl.fullAddress}}</td>-->
                    <td>{{webSiteUrl.name}}</td>
                    <td>
                        <a ui-sref="web-site-detail({id:webSiteUrl.webSite.id})">{{webSiteUrl.webSite.name}}</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
</div>