
<div class="fixed-fluid">
    <jhi-alert></jhi-alert>

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-control">

                <button class="btn btn-default" ng-click="vm.analysisWebSite(vm.webSite)">
                    <i class="glyphicon glyphicon-refresh"></i> 分析
                </button>

            </div>
            <h3 class="panel-title">{{vm.webSite.name}} {{vm.webSite.rootUrl}}</h3>
        </div>

    </div>

    <div class="panel">
        <div class="btn-group">
            <label class="btn btn-danger" ng-model="extensionFilter.css" uib-btn-checkbox>CSS</label>
            <label class="btn btn-danger" ng-model="extensionFilter.js" uib-btn-checkbox>JS</label>
            <label class="btn btn-danger" ng-model="extensionFilter.html" uib-btn-checkbox>HTML</label>
            <label class="btn btn-danger" ng-model="extensionFilter.picture" uib-btn-checkbox>图片</label>
            <label class="btn btn-danger" ng-model="extensionFilter.json" uib-btn-checkbox>Json</label>
            <label class="btn btn-danger" ng-model="extensionFilter.other" uib-btn-checkbox>其他</label>
        </div>
    </div>

    <div ng-if="entries.length > 0" class="panel panel-dark panel-colorful" style="margin-bottom: -1px; font-size: xx-small">
        <div class="panel-body" style="padding: 5px">
            <div class="col-md-6 text-left text-warning text-bold text-2x">
                URL <small style="color: white">({{entries.length}}) </small>
            </div>
            <div class="col-md-6 text-right text-warning text-bold text-2x">
                操作
            </div>

        </div>
    </div>
    <div ng-if="entries.length > 0" class="panel" ng-repeat="l in entries" style="margin-bottom: -1px; padding: 5px; font-size: xx-small">
        <div class="panel-heading">
            <div class="panel-title">

                <div class="panel-control" style="float: right">

                    <!--<div class="col-md-9">-->
                        <!--<input type="text" class="form-control" name="name" id="field_name" ng-model="l.urlName" placeholder=""/>-->
                    <!--</div>-->

                    <div class="btn-group btn-group-xs" >
                        <button class="btn btn-primary btn-xs bottom-right" ng-click="vm.saveUrl(l)">保存</button>
                    </div>

                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-info btn-xs bottom-right" ng-click="vm.toggleDetail(l)">Response</button>
                    </div>
                </div>
                {{l.request.url}}
            </div>

        </div>
        <div class="panel-body" ng-if="l.showDetail">

            {{l.response.content.text}}
        </div>
    </div>
</div>
