
<div class="fixed-fluid">
    <jhi-alert-error></jhi-alert-error>

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-control">

                <button class="btn btn-default" data-target="#demo-panel-ref" data-toggle="panel-overlay" ng-click="vm.analysisWebSite(vm.webSite)">
                    <i class="glyphicon glyphicon-refresh"></i> 分析
                </button>

            </div>
            <h3 class="panel-title">{{vm.webSite.name}} {{vm.webSite.rootUrl}}</h3>
        </div>
    </div>

    <div ng-if="vm.log.entries.length > 0" class="panel panel-dark panel-colorful" style="margin-bottom: -1px; font-size: xx-small">
        <div class="panel-body" style="padding: 5px">
            <div class="col-md-6 text-left text-warning text-bold text-2x">
                URL <small style="color: white">({{vm.log.entries.length}}) </small>
            </div>
            <div class="col-md-6 text-right text-warning text-bold text-2x">
                操作
            </div>

        </div>
    </div>
    <div ng-if="vm.log.entries.length > 0" class="panel" ng-repeat="l in vm.log.entries" style="margin-bottom: -1px; font-size: xx-small">
        <div class="panel-body" style="padding: 5px" >

            {{l.request.url}}

            <div class="btn-group btn-group-xs" style="float: right">
                <button class="btn btn-info btn-xs bottom-right">内容</button>
            </div>
        </div>
    </div>
</div>
